<%if(locals.user){%>
    <%if(locals.user.role == 'admin'){%>
        <%- include('../components/headerAdmin.ejs')%>
    <%}else{%>
        <%- include('../components/headerLogado.ejs')%>
    <%}%>
<%}else{%>
    <%- include('../components/header.ejs')%>
<%}%>   
<div class="flex-center">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="POST" action="/posts/search" >
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Procure um Post" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Procurar</button>
        </form>
      </nav>
</div>
<div class="container">
    <%if(posts.length==0){%>
        <h3 class="m-4">Nenhum Post encontrado!</h3>
    <%}else{%>
        <%for(let i=0; i < posts.length; i++){%>
            <hr class="border border-dark border-2 opacity-50">
            <h6 class="m-2">
                <%=posts[i].createdAt%>
            </h6>
            <hr class="border border-dark border-2 opacity-50">
            <div class="flex-container m-2">
                <h3>
                    <%=posts[i].title%>
                </h3>
            </div>
            <div class="flex-container m-2">
                <a class="btn btn-outline-dark m-2" href="/posts/update/<%=posts[i].id%>">
                    <img src="/img/editar.png" title="Alterar o Post" width="25" height="25">
                </a>
                <a class="btn btn-outline-dark m-2" href="/posts/delete/<%=posts[i].id%>">
                    <img src="/img/excluir.png" title="Excluir o Post" width="25" height="25">
                </a>
                <a class="btn btn-outline-dark m-2" href="/posts/details/<%=posts[i].id%>">
                    <img src="/img/visualizar.png" title="Visualizar o Post" width="25" height="25">
                </a>
                <a class="btn btn-outline-dark m-2" href="#">
                    <img src="/img/like1.png" title="Curtir Post" width="25" height="25">
                </a>
                <a class="btn btn-outline-dark m-2" href="#">
                    <img src="/img/comentarios.png" title="Comentários do Post" width="25" height="25">
                </a>
            </div>

            <div class="flex-container m-2">
                <p class="text-justify">
                    <%=posts[i].description%>
                </p>
            </div>
            <div class="text-center">
                <%if(posts[i].imageURL){%>
                    <img src="<%=posts[i].imageURL%>" alt="Imagem do Post" width="350" height="250">
                <%}%>
            </div>
        <%}%>
    <%}%>
</div>
<br/>
<div class="flex-center">
    <% if(totalPosts.length < 6){%>
        <a class="m-2" href="/posts/1">1</a>
    <%}else if(totalPosts.length < 11){%>
        <a class="m-2" href="/posts/1">1</a>
        <a class="m-2" href="/posts/2">2</a>
    <%}else if(totalPosts.length < 16){%>
        <a class="m-2" href="/posts/1">1</a>
        <a class="m-2" href="/posts/2">2</a>
        <a class="m-2" href="/posts/3">3</a>
    <%}else if(totalPosts.length < 21){%>
        <a class="m-2" href="/posts/1">1</a>
        <a class="m-2" href="/posts/2">2</a>
        <a class="m-2" href="/posts/3">3</a>
        <a class="m-2" href="/posts/4">4</a>
    <%}else if(totalPosts.length < 26){%>
        <a class="m-2" href="/posts/1">1</a>
        <a class="m-2" href="/posts/2">2</a>
        <a class="m-2" href="/posts/3">3</a>
        <a class="m-2" href="/posts/4">4</a>
        <a class="m-2" href="/posts/5">5</a>
    <%}else if(totalPosts.length < 31){%>
        <a class="m-2" href="/posts/1">1</a>
        <a class="m-2" href="/posts/2">2</a>
        <a class="m-2" href="/posts/3">3</a>
        <a class="m-2" href="/posts/4">4</a>
        <a class="m-2" href="/posts/5">5</a>
        <a class="m-2" href="/posts/6">6</a>
    <%}else if(totalPosts.length < 36){%>
        <a class="m-2" href="/posts/1">1</a>
        <a class="m-2" href="/posts/2">2</a>
        <a class="m-2" href="/posts/3">3</a>
        <a class="m-2" href="/posts/4">4</a>
        <a class="m-2" href="/posts/5">5</a>
        <a class="m-2" href="/posts/6">6</a>
        <a class="m-2" href="/posts/7">7</a>
    <%}else if(totalPosts.length < 41){%>
        <a class="m-2" href="/posts/1">1</a>
        <a class="m-2" href="/posts/2">2</a>
        <a class="m-2" href="/posts/3">3</a>
        <a class="m-2" href="/posts/4">4</a>
        <a class="m-2" href="/posts/5">5</a>
        <a class="m-2" href="/posts/6">6</a>
        <a class="m-2" href="/posts/7">7</a>
        <a class="m-2" href="/posts/8">8</a>
    <%}else if(totalPosts.length < 46){%>
        <a class="m-2" href="/posts/1">1</a>
        <a class="m-2" href="/posts/2">2</a>
        <a class="m-2" href="/posts/3">3</a>
        <a class="m-2" href="/posts/4">4</a>
        <a class="m-2" href="/posts/5">5</a>
        <a class="m-2" href="/posts/6">6</a>                                    
        <a class="m-2" href="/posts/7">7</a>                                    
        <a class="m-2" href="/posts/8">8</a>                                    
        <a class="m-2" href="/posts/9">9</a>                                    
    <%}else if(totalPosts.length < 51){%>                                        
        <a class="m-2" href="/posts/1">1</a>                                        
        <a class="m-2" href="/posts/2">2</a>                                        
        <a class="m-2" href="/posts/3">3</a>                                        
        <a class="m-2" href="/posts/4">4</a>                                        
        <a class="m-2" href="/posts/5">5</a>                                        
        <a class="m-2" href="/posts/6">6</a>                                        
        <a class="m-2" href="/posts/7">7</a>                                        
        <a class="m-2" href="/posts/8">8</a>                                        
        <a class="m-2" href="/posts/9">9</a>                                        
        <a class="m-2" href="/posts/10">10</a>                                        
    <%}else if(totalPosts.length < 56){%>                                            
        <a class="m-2" href="/posts/1">1</a>                                            
        <a class="m-2" href="/posts/2">2</a>                                            
        <a class="m-2" href="/posts/3">3</a>                                            
        <a class="m-2" href="/posts/4">4</a>                                            
        <a class="m-2" href="/posts/5">5</a>                                            
        <a class="m-2" href="/posts/6">6</a>                                            
        <a class="m-2" href="/posts/7">7</a>                                            
        <a class="m-2" href="/posts/8">8</a>                                            
        <a class="m-2" href="/posts/9">9</a>                                            
        <a class="m-2" href="/posts/10">10</a>                                            
        <a class="m-2" href="/posts/11">11</a>                                            
    <%}%>
</div>


<%- include('../components/footer.ejs')%>