<%-include('../components/headerLogado.ejs')%>

    <div class="container">
        <form class="py-3 col-10" action="/posts/update" method="post">
            <input type="hidden" name="id" value="<%=post.id%>">
            <div class="form-group">
                <label>Título</label>
                <input type="text" class="form-control" name="title" value="<%=post.title%>" placeholder="Escreva o título do Post aqui">
            </div>
            <div class="form-group">
                <label>Texto</label>
                <textarea class="form-control" name="description" placeholder="Escreva o texto do Post aqui"><%=post.description%>
                </textarea>
            </div>
            <div class="form-group">
                <label>Autor</label>
                <input type="text" class="form-control" value="<%=post.author%>" name="author" placeholder="Escreva o seu nome aqui">
            </div>
            <div class="form-group">
                <label>URL da imagem</label>
                <input type="text" class="form-control" name="url" value="<%=post.imageURL%>" placeholder="Escreva a URL da imagem aqui">
            </div>
            <button class="btn btn-outline-primary">Alterar Post</button>
        </form>
    </div>

<%-include('../components/footer.ejs')%>